@font-face {
	font-family: 'montserrat-regular';
	src: url('../fonts/Montserrat-Regular.ttf')
}

@font-face {
	font-family: 'montserrat-bold';
	src: url('../fonts/Montserrat-Bold.ttf')

}

@font-face {
	font-family: 'montserrat-semibold';
	src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf')

}


@font-face {
    font-family: 'montserrat-medium-italic';
    src: url('../fonts/Montserrat-MediumItalic.ttf')
}
@font-face {
    font-family: 'montserrat-semibold-italic';
    src: url('../fonts/Montserrat-SemiBoldItalic.ttf')
}

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/Futura\ Book\ font.ttf');
}



:root {
    --main-orange: #ff6a00;
    --blue-primary: #060054;

    --orange-secondary: #ff815b;
    --blue-secondary: #2a2850;

    --gray-level-1: #1A202C;
    --grey-level-2: #333;
    --grey-level-3: #5b5963;;
    --grey-level-4: #718096;
    --grey-level-5: #A0AEC0;
    --grey-level-6: #CBD5E0;
    --grey-level-7: #f5f5f5;;
    --grey-level-8: #EDF2F7;
    --grey-level-9: #F7FAFC;

    --h1-size: 2em;
    --h2-size: 1.5em;
    --h3-size: 1.2em;
    --p-size: 1em;

    --radius-size: 6px;
}

*, *::before, *::after {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}  

html, body {
    scroll-behavior: smooth;
}

/* TITRES */
h1, h2, h3, h4, h5 {
    font-family: "yeseva-one", sans-serif;
    color: var(--gray-level-1);
    font-weight: normal;
}
h1 {
    font-size: var(--h1-size);
}
h2 {
    font-size: var(--h2-size);
}
h3 {
    font-size: var(--h3-size);
    font-family: "montserrat-regular", sans-serif;
}
/* TITRES */

/* PARAGRAPHE */
p {
    font-family: "montserrat-regular", sans-serif;
    color: var(--gray-level-2);
    font-size: var(--p-size);
}
/* PARAGRAPHE */

/*.icon.burger-menu {
    background-image: url(icon/burger_menu.svg);
}*/


.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.width60 {
    width: 60%;
}

/* HEADER */

#presentation {
    scroll-margin-top: 10vh;
}

#ma_formation {
    scroll-margin-top: 10vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.header-transparent {
    background-color: transparent;
    box-shadow: none;
}

.header-transparent ul li a {
    color: white;
}

.header-transparent ul li a:hover {
    color: var(--grey-level-6);
}

.header-transparent ul li .menu::before, .header-transparent ul li .menu::after {
    background-color: white;

}

.header-white {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header-white ul li a {
    color: var(--grey-level-3);
}

.header-white ul li a:hover {
    color: black;
}

.header-white ul li .menu::before, .header-white ul li .menu::after {
    background-color: black;

}

.header__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    width: 100%;
    height: 5em;
}

.header__div ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.header__div ul li {
    margin: 0 1em;
    text-align: center;
}


.header__div ul li a {
    text-decoration: none;
    font-family: 'montserrat-semibold', sans-serif;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.header__div ul li a::before, .header__div ul li a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    transition: width 0.3s ease, left 0.3s ease, right 0.3s ease;
}

.header__div ul li a::before {
    left: 50%;
}

.header__div ul li a::after {
    right: 50%;
}

.header__div ul li a:hover::before {
    width: 50%;
    left: 0;
}

.header__div ul li a:hover::after {
    width: 50%;
    right: 0;
}

.header__div ul li img {
    width: 75px;
    height: 75px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 6;
}

.burger-menu-white .bar {
    background-color: white;
}

.burger-menu-black .bar {
    background-color: var(--grey-level-3);
}

.burger-menu .bar {
    height: 3px;
    width: 100%;
    border-radius: 10px;
}

/* HEADER */
/* HERO HEADER */
.hero_header {
    background-image: url(images/plage1.jpg);
    background-size: cover;
    background-position-y: 45%;

    border-radius: var(--radius-size);

    height: 40em;
    width: 100%;

    position: relative;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.grey_filter {
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    
}
.filter>h1 {
    color: white;
    font-size: 100px;

    z-index: 4;
    font-family: 'montserrat-semibold-italic', sans-serif;
}
/* HERO HEADER */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-level-3);
    padding: 3em;
    margin-bottom: 1em;
}

.title h2 {
    font-size: 100px;
    font-family: 'montserrat-semibold', sans-serif;
    text-transform: uppercase;
    color: var(--grey-level-3);
    opacity: 8.05%;
}

.title span {
    position: absolute;
    font-family: 'montserrat-regular', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

/* PRESENTATION */

.section__presentation {
    background-color: var(--grey-level-7);
    text-align: center;
    padding-bottom: 2em;
}

.article_content {
    display: flex;
    justify-content: center;
}

.article_content_text {
    width: 70%;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 2em;
}

.dl_container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;

}

.dl_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

.dl_content #cv_warn {
    margin-bottom: 1em;
}

#avatar_form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#img_gowork {
    height: 450px;
    width: 450px;
    z-index: 1;
    position: relative;
    right: 5em;
    bottom: 5em;
}

#img_form {
    height: 350px;
    width: 350px;
    border-radius: 63% 37% 63% 37% / 36% 31% 69% 64% ;
    background-color: black;
}
p a.link {
    text-decoration: none;
    color: black; /* Vous pouvez ajuster la couleur si nécessaire */
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

p a.link::before, p a.link::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    bottom: 0;
    background-color: black; /* Utilisation de la couleur orange */
    transition: width 0.3s ease, left 0.3s ease, right 0.3s ease;
}

p a.link::before {
    left: 0;
}

p a.link::after {
    right: 0;
}

p a.link:hover::before {
    width: 0;
    left: 50%;
}

p a.link:hover::after {
    width: 0;
    right: 50%;
}


.download_button {
    background-color: black;
    color: white;
    border: solid 1px black;
    padding: 1em;
    text-decoration: none;
    font-family: 'montserrat-regular', sans-serif;
}

.download_button:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
    padding: 1em;
    text-decoration: none;
    font-family: 'montserrat-regular', sans-serif;
}



/* PRESENTATION */

/* PROJETS */

#img_space {
    height: 350px;
    width: 350px;
    position: relative;
    z-index: 1;
    top: -40px;
}

#img_form2 {
    height: 300px;
    width: 300px;
    border-radius: 63% 37% 63% 37%  / 61% 54% 46% 39% ;
    background-color: black;
}




/*Liste de projet*/





.liste_projets_container ul li {
    height: 10em;
    background-color: var(--grey-level-2);
}

.compétences h2{
    font-family: 'montserrat-regular', sans-serif;
}

.img1 {
    height: 8em;
    width: 8em;
}

.img2 {
    height: 8em;
    width: 8em;
}

/* PROJETS */

/* FOOTER */

footer {
    background-color: black;
    text-align: center;
    font-family: 'montserrat-regular';

}

footer .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;

}

footer .footer_container nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

footer .footer_container nav ul {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

footer .footer_container nav ul li {
    list-style: none;
}

footer .footer_container nav ul li a img {
    width: 30px;
    height: 30px;
    filter: invert();
}

footer div {
    color: white;
}

/* FOOTER */

@media screen and (max-width:1280px) {
    #liste_projets {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5em;
        width: 15em;
        margin: auto;
        justify-content: space-evenly;
    }
}


@media screen and (max-width:1075px) {
    .filter>h1{
        font-size: 80px;
    }

    #img_form {
        height: 270px;
        width: 270px;
    }

    #img_gowork {
        height: 375px;
        width: 375px;
    }

    #img_form2 {
        display: none;
    }

    #avatar_form {
        display: none;
    }

    .section__formation .title h2 {
        font-size: 80px;
    }


    #projets>nav>ul>li>p {
        left: 4%;
    }

    .burger-menu {
        display: flex;
    }

    .menu-items {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 50%;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        z-index: 5;
    }

    .menu-items.active {
        right: 0;
        width: 50%;
    }

    .menu-items.active li a {
        color: var(--grey-level-3) !important;
    }

    .menu-items.active li {
        padding: 1.2em;
        width: 100%;
    }

    .menu-items li {
        margin: 1em 0;
    }

    .header__div ul li {
        margin: 0;
    }

    .header__div {
        padding: 1em 2em;
    }

}

/* Cacher les liens de navigation par défaut sur les petits écrans */
@media screen and (max-width: 860px) {
    
    

    .filter>h1{
        font-size: 70px;
    }

    #a_propos>#avatar_form {
        justify-content: inherit;
    }

    #a_propos>#avatar_form>#img_form {
        margin-left: 5em;
    }

    #img_gowork {
        height: 360px;
        width: 360px;
    }
    

    

    #img_space {
        height: 360px;
        width: 360px;
        z-index: 1;
        position: absolute;
        right: 3em;
        bottom: -27em;
    }

}




@media screen and (max-width:800px) {
    #avatar_form {
        display: none !important;
    }

    #a_propos>#txt {
        width: 100%;
    }

    header>nav>ul>li {
        font-size: 13px;
    }

    .title h2 {
        font-size: 80px;
    }

    .article_content_text {
        font-size: 16px;
    }

    footer .footer_container nav ul {
        width: 15%;
    }

    #avatar_form2 {
        display: none !important;
    }

    #formation>#txt {
        width: 100%;
    }

    .section__formation .title h2 {
        font-size: 60px;
    }
    
}



.filter>h1 {
    font-size: 60px;
}

@media screen and (max-width:700px) {
    .hero_header {
        height: 30em;
    }

    #a_propos>#txt>h1 {
        font-size: 1.6em;
    }

    #a_propos>#txt>p {
        font-size: 0.9em;
    }

    header>img {
        width: 75px;
        height: 75px;
    }

    .title h2 {
        font-size: 60px;
    }

    .title span {
        font-size: 20px;
    }

    #formation>#txt>h1 {
        font-size: 1.6em;
    }

    #formation>#txt>p {
        font-size: 0.9em;
    }

    header>img {
        width: 75px;
        height: 75px;
    }

    .bigtitle2 h2 {
        font-size: 50px;
    }

    
}

@media screen and (max-width:660px) {
    .filter>h1 {
        font-size: 45px;
        margin-top: 2em;
    }

    .hero_header {
        height: 20em;
    }

    header>nav>ul>li {
        font-size: 11px;
    }

    #download_button {
        font-size: 0.8em;
    }

    header>img {
        width: 65px;
        height: 65px;
    }

    .article_content_text {
        font-size: 14px;
    }

    #formation>#txt>h1 {
        font-size: 1.4em;
    }

    #formation>#txt>p {
        font-size: 0.8em;
    } 

    #projets>h1  {
        font-size: 1.4em;
    }

    #projets>nav>ul>li>p {
        font-size: 0.8em;
    }

    .section__formation .title h2 {
        font-size: 45px;
    }
}

@media screen and (max-width:550px) {


    .filter>h1 {
        font-size: 35px;
    }

    .title h2 {
        font-size: 45px;
    }

    .title span {
        font-size: 18px;
    }

    footer .footer_container nav ul li a img {
        width: 20px;
        height: 20px;
    }

    footer .footer_container nav {
        margin-bottom: 0.5em;
    }

    #formation>#txt>h1 {
        font-size: 1.2em;
    }

    #formation {
        padding: 35px;
    }

    #projets {
        padding: 2em;
    }

    #projets>h1 {
        font-size: 1.2em;
    }

    .bigtitle2 h2 {
        font-size: 42px;
    }

}

@media screen and (max-width:500px) {

    .hero_header {
        height: 14em;   
    }

    .header__div ul li img {
        width: 60px;
        height: 60px;
    }

    .filter>h1 {
        font-size: 30px;
        margin-top: 2em;
    }

    .download_button {
        font-size: 14px;
    }

    #cv_warn {
        font-size: 14px;
    }

    .dl_content {
        width: 60%;
    }

    footer .footer_container div {
        font-size: 12px;
    
    }

    #projets {
        padding: 1em;
    }

    #formation {
        padding: 1em;
    }

    #formation>#txt>h1 {
        font-size: 1em;
    }

    #formation>#txt>p {
        font-size: 0.7em;
    }

    #projets>h1 {
        font-size: 1em;
    }

    #projets>nav>ul>li>p {
        font-size: 0.7em;

    }

    #projets>nav>ul>li>p {
        left: 8% !important;
    }

    .section__formation .title h2 {
        font-size: 40px;
    }

}

@media screen and (max-width:460px) {
    .section__projets .title h2 {
        font-size: 40px;
    }

    .section__formation .title h2 {
        font-size: 35px;
    }
}


@media screen and (max-width:420px) {
    .hero_header {
        height: 12em;
    }

    .header__div {
        padding: 0.5em 1.5em;
        height: auto;
    }

    .header__div ul li img {
        width: 45px;
        height: 45px;
    }

    .burger-menu .bar {
        height: 2.4px;
        width: 80%;
    }

    .filter>h1 {
        font-size: 25px;
    }

    .title {
        padding: 1.5em;
    }

    .section__presentation .title h2 {
        font-size: 40px;
    }

    .title span {
        font-size: 16px;
    }

    p a.link {
        padding-bottom: 4px;
    }

    .article_content_text {
        font-size: 12px;
    }

    .download_button {
        font-size: 12px;
    }

    #cv_warn {
        font-size: 12px;
    }

    .dl_content {
        width: 70%;
    }

    footer .footer_container nav ul{
        width: 20%;
    }

}


@media screen and (max-width:370px) {
    .section__projets .title h2 {
        font-size: 35px;
    }
}

@media screen and (max-width:355px) {
    .section__formation .title h2 {
        font-size: 30px;
    }

    .section__presentation .title h2 {
        font-size: 35px;
    }

    .section__projets .title h2 {
        font-size: 30px;
    }
}


@media screen and (max-width:330px) {
    .hero_header {
        height: 10em;
    }

    .header__div {
        padding: 0.5em 1em;
        height: auto;
    }

    .header__div ul li img {
        width: 40px;
        height: 40px;
    }

    .filter>h1 {
        font-size: 20px;
    }

    .section__presentation .title h2 {
        font-size: 30px;
    }

    .title span {
        font-size: 14px;
    }

    .article_content_text {
        font-size: 10px;
    }

    .menu-items.active li {
        padding: 1em;
    }

    .menu-items.active li a {
        font-size: 12px;
    }

    .download_button {
        font-size: 10px;
    }

    #cv_warn {
        font-size: 10px;
    }

    .dl_content {
        width: 80%;
    }

    footer .footer_container nav ul{
        width: 25%;
    }

    footer .footer_container nav ul li a img {
        width: 18px;
        height: 18px;
    }

    .title {
        padding: 0em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}
